// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$skew_amount: -10deg;
header
{
    h1
    {
        transition: transform 2s;
    }
    
    h1:hover
    {
        transform: skewX($skew_amount);
    }
    
}

img
{
    width: 250px;
    box-shadow: 5px 5px 5px #888888;
}  



