<!--<p>test</p>-->
<h1>Manga Store</h1>

<ul>
  <%@categories.each do |category|%>
  <li><%=  category.name%></li>
  <%end%>
</ul>

<% @products.each do |product| %>
<p>
  <%= product.name %>
</p>
<%end%>